* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

section{
    display: flex;
    height: 100vh;
    width: 100%;
}

.canvas{
    height: 100%;
    width: 96%;
    background-image: url("../img/grama.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

canvas{
    position:absolute;
    left:0;
    top:0;
}

div{
    align-items: center;
}

.descricao-personagem {
    position: absolute;
    height: 40%;
    width: 17%;
    display: none;
    flex-direction: column;
    border-radius: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #818181bb;
}

.habilidades {
    display: flex;
    flex-direction: column;
    margin: 12px 10px;
    gap: 8px;
}

.habilidade {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
}

.cancelar {
    position: absolute;
    top: 77%;
    left: 43%;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    color: black;
    border-radius: 15px;
    border: none;
    z-index: 1;
}

.cancelar i.bi {
    font-size: 15px;
    color: black;
}